<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.generalgalactic.capacitor.esp_idf_provisioning"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" tools:targetApi="s" android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" tools:targetApi="s" />

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />
</manifest>
